<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>FUNDAMENTOS DE VUEJS</title>
        <meta name="description" content="Curso de VUE JS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
		
		<main>
			<h1 v-show="conectado">Estoy conectado</h1>
			<h1 v-if="conectado">Estoy conectado denuevo</h1>

			<div v-if="edad<18">No puedes entrar.</div>
			<div v-else-if="edad>120">Eres inmortal.</div>
			<div v-else>Puedes entrar.</div>

			<template v-if="conectado">
				<h3>Bienvenido Gemerson</h3>
				<ul>
					<li>Mis datos</li>
					<li>Mensajes</li>
					<li>Salir</li>
				</ul>
			</template>
		</main>
		
		<script type="text/javascript" src="../../../libs/vuejs/vue.js"></script>
		<script type="text/javascript" src="main.js"></script>
    </body>
</html>