<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>FUNDAMENTOS DE VUEJS</title>
        <meta name="description" content="Curso de VUE JS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    	<main>
            <!-- <h1> {{ mensajeAlReves }} </h1> -->
            <h1> {{ mensajeInicial }} </h1>
            <ul>
                <!-- <li v-for="(curso, index) in filtrandoPorHoras"> -->
                <!-- <li v-for="(curso, index) in ordenandoPorHoras"> -->
                <li v-for="(curso, index) in cursos">
                    {{ curso.nombreDelCurso }} - Número de horas: {{ curso.numeroDeHoras }}
                    <button type="button" v-on:click="eliminarCurso(index)">Eliminar</button>
                </li>
            </ul>
            <form v-on:submit.prevent="agregarCurso()">
                <input type="text" 
                    v-model="nuevoCurso.nombreDelCurso" 
                    placeholder="Nombre del curso" required/>
                <input type="number" 
                    v-model="nuevoCurso.numeroDeHoras" 
                    placeholder="Número de horas" required/>
                <button type="submit">Registrar curso</button>
            </form>
            <pre>
                {{ $data }}
            </pre>
        </main>
		
		<script type="text/javascript" src="../../../libs/vuejs/vue.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
    </body>
</html>